.dodavanjeBoja{
    color: #565a5c;
	background: #fff;                                                   /*menjanje boje*/
	border: 0;
    text-decoration: none;
}

.futer{
    margin: 0;
	color:#666666;
	font-size:14px;
}